.programListItemContainer {
  background-color: var(--taskListBgColor);
  border-radius: 5px;
  justify-content: center;
  border: 1px solid var(--grayBorderColor);
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: var(--green3Color);
  }

  .body {
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;

    .iconDiv {
      .icon {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
      }

      .initials {
        font-size: 1.25rem;
        color: var(--primaryTextColor);
        font-family: var(--muktaRegular);
        display: inline-block;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        text-align: center;
        margin: 0;
        background-color: var(--green4Color);
        cursor: pointer;
      }
    }

    .mainContent {
      gap: 0.5rem;

      .title {
        font-size: 1rem;
        color: var(--blackTextColor);
        font-family: var(--muktaSemiBold);
        margin: 0;
        line-height: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -o-box;
        display: box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -moz-line-clamp: 1;
        -ms-line-clamp: 1;
        -o-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -o-box-orient: vertical;
        white-space: normal;
      }

      .metaData {
        font-size: 0.875rem;
        gap: 1.5rem;
        color: var(--grayTextColor);
        font-family: var(--muktaRegular);
        line-height: 1;

        .info {
          gap: 0.25rem;
          align-items: center;

          svg {
            width: auto;
          }

          .value {
            margin: 0;
            line-height: 1;
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}

.activeItem {
  background-color: var(--green3Color);
  border: 1px solid #e6fdfe;
}

@media all and (min-width: 992px) {
  .programListItemContainer {
    .body {
      padding: 0.875rem 0.75rem;
      gap: 1rem;

      .iconDiv {
        .icon {
          width: 2rem;
          height: 2rem;
        }

        .initials {
          font-size: 1.125rem;
          width: 2rem;
          height: 2rem;
          line-height: 2rem;
        }
      }

      .mainContent {
        gap: 0.5rem;

        .title {
          font-size: 1rem;
          color: var(--blackTextColor);
          font-family: var(--muktaSemiBold);
          margin: 0;
          line-height: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-box;
          display: -o-box;
          display: box;
          -webkit-line-clamp: 1; /* number of lines to show */
          -moz-line-clamp: 1;
          -ms-line-clamp: 1;
          -o-line-clamp: 1;
          line-clamp: 1;
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
          -ms-box-orient: vertical;
          -o-box-orient: vertical;
          white-space: normal;
        }

        .metaData {
          gap: 1.5rem;
          font-size: 0.875rem;
          color: var(--grayTextColor);
          font-family: var(--muktaRegular);

          .info {
            align-items: center;
            gap: 0.25rem;

            .value {
              line-height: 1;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
